.about-page {
    padding: 2rem 3rem;
}

.about-header {
  text-align: center;
  color: #e89eb8;
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

.about-container {
    display: grid;
    grid-template-columns: 700px 420px;
    gap: 2.5rem;
    justify-content: center;
}

.about-content {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-content p {
  margin-bottom: 1.75rem;
  line-height: 1.8;
  font-size: 1.15rem;
  color: #e0e0e0;
}

.about-image{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.about-subtitle{
    margin:0;
    font-size:1.5rem;
    font-weight:700;

    background:linear-gradient(90deg,#ff914d,#ffa500,#ffd166);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}

.about-subtitle-sub{
    margin:0;
    font-size:1.5rem;
    font-weight:700;

    background:linear-gradient(90deg,#b64a58,#584bce,#237db1);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}

.about-location{
    margin:.5rem 0 2rem;

    color:#bdbdbd;
    font-size:1rem;
    letter-spacing:2px;
    text-transform:uppercase;
}

.avatar-placeholder {
    width: 310px;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #ffa500;
    margin-top: 0.5rem;
    border: 3px solid #ffa500;
    box-shadow: 0 0 25px rgba(255,165,0,.25);
    transition: transform .3s ease, box-shadow .3s ease;
}

.avatar-placeholder:hover {
    transform: scale(1.03);
    box-shadow: 0 0 35px rgba(255,165,0,.45);
}

.socials {
    margin-top: 1.5rem;
}

/* Mobile */
@media (max-width: 768px) {

    .about-page {
        padding: 2rem 1.5rem;
    }

    .about-container {
        grid-template-columns: 1fr;
        justify-items: center;
        text-align: center;
        gap: 2rem;
    }

    .about-content {
        max-width: 100%;
    }

    .avatar-placeholder {
        width: 250px;
    }
}