*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

/* HEADER */

.header{
  position:fixed;

  top:18px;
  left:50%;

  transform:translateX(-50%);

  width:min(1100px,94%);
  height:78px;

  display:flex;
  align-items:center;
  justify-content:space-between;

  padding:0 28px;

  background:rgba(30,30,47,.72);

  backdrop-filter:blur(18px);

  border-radius:20px;

  border:1px solid rgba(255,255,255,.08);

  box-shadow:
  0 10px 40px rgba(0,0,0,.35);

  overflow:visible;

  z-index:999;
}

/* Animated border */

.header::before{

  content:"";
  position:absolute;
  inset:0;
  padding:1px;
  border-radius:20px;
  background:
    linear-gradient(
    90deg,
    #6a11cb,
    #2575fc,
    #ff914d,
    #6a11cb);
  background-size:300%;

  animation:borderMove 9s linear infinite;

  -webkit-mask:
  linear-gradient(#fff 0 0) content-box,
  linear-gradient(#fff 0 0);

  -webkit-mask-composite:xor;
  mask-composite:exclude;
  pointer-events:none;
}

@keyframes borderMove{

  0%{
  background-position:0%;
}
100%{
  background-position:300%;
}

}

/* LEFT */

.header-left{
  display:flex;
  gap:18px;
  align-items:center;
}

/* ICONS */

.header-icon{
  width:34px;
  transition:.35s;
}

.header-icon:hover{
  transform:
  translateY(-4px)
  rotate(-8deg)
  scale(1.12);
  filter:drop-shadow(0 0 10px #6a11cb);
}

/* NAME */

.header-title{
  display:flex;
  flex-direction:column;
  align-items:center;
  position:absolute;
  left:38%;
  transform:translateX(-50%) translateY(-1px);
  pointer-events:none;
}

.header-title h2{
  font-size:1.15rem;
  color:white;
}

.header-title span{
  font-size:.8rem;
  letter-spacing:2px;
  text-transform:uppercase;
  color:#bcbcbc;
}

/* NAV */

.nav-bar{
  display:flex;
}

.nav-links{
  display:flex;
  gap:10px;
  list-style:none;
}

.nav-links a{
  padding:12px 22px;
  border-radius:999px;
  text-decoration:none;
  font-weight:600;
  color:white;
  transition:.3s;
}

.nav-links a:hover{
  background:rgba(255,255,255,.08);
  transform:translateY(-2px);
}

/* ACTIVE */

.active-link{
  background:#ff914d;
  color:white;
  box-shadow:
  0 8px 18px rgba(255,145,77,.4);
}

/* HAMBURGER */

.hamburger{
  display:none;
}

/* MOBILE */

@media(max-width:768px){
  .header{
    height:70px;
    padding:0 18px;
    overflow:visible;
  }

  .header-title{
    display:none;
  }

  .hamburger{

    display:block;
    background:none;
    border:none;

    font-size:2.5rem;

    color:white;
    cursor:pointer;

    position:relative;
    z-index:1000;

    padding:8px;

  }

  .nav-bar{
    position:absolute;
    top:82px;
    left:0;
    width:100%;
    display:none;
    z-index:999;
  }

  .nav-bar.open{
    display:block;
  }

  .nav-links{
    background:#1e1e2f;
    flex-direction:column;
    padding:25px;
    border-radius:18px;
    margin:10px;
    gap:25px; 
  }

  .header::before{

    display:none;
  }
}